@charset "UTF-8";

[data-component-type='DROPDOWN'] {
	box-sizing: border-box;
	display: inline-block;
	position: relative;
}

[data-component-type='DROPDOWN'] > input[type='checkbox'] {
	display: none;
}

[data-component-type='DROPDOWN'] > label {
	cursor: pointer;
}

[data-component-type='DROPDOWN'][data-component-style='DEFAULT'] > label {
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 0.2em 0.5em 0.3em 0.5em;
	color: var(--codekandis-color-darker-gray);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-width: 1px;
	border-color: var(--codekandis-color-light-gray);
	border-radius: 3px;
}

[data-component-type='DROPDOWN'] > input[type='checkbox'] ~ ul {
	display: none;
	list-style: none;
}

[data-component-type='DROPDOWN'] > input[type='checkbox']:checked ~ ul {
	display: inline-block;
}

[data-component-type='DROPDOWN'][data-component-style='DEFAULT'] > input[type='checkbox']:checked ~ label {
	border-radius: 3px 3px 0 0;
}

[data-component-type='DROPDOWN'][data-component-style='DEFAULT'] > input[type='checkbox'] ~ label:after {
	position: absolute;
	padding: 0.25rem 0.6rem 0.25rem 0.62rem;
	right: 1px;
	top: 1px;
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	background-color: var(--codekandis-color-lighter-gray);
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: var(--codekandis-color-light-gray);
	border-radius: 0 2px 2px 0;
	content: '\f107';
}

[data-component-type='DROPDOWN'][data-component-style='DEFAULT'] > input[type='checkbox']:checked ~ label:after {
	padding-top: 0.2rem;
	padding-bottom: 0.3rem;
	border-radius: 0 2px 0 0;
	content: '\f106';
}

[data-component-type='DROPDOWN'][data-component-style='DEFAULT'] > input[type='checkbox'] ~ ul {
	position: absolute;
	padding: 0.3rem 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 0 0 3px 3px;
	list-style: none;
}

[data-component-type='DROPDOWN'][data-component-style='DEFAULT'] > input[type='checkbox'] ~ ul li a {
	display: block;
	padding: 0.2rem 0.5rem;
	color: var(--codekandis-color-darker-gray);
}

[data-component-type='DROPDOWN'][data-component-style='DEFAULT'] > input[type='checkbox'] ~ ul li a:hover {
	background-color: var(--codekandis-color-lighter-gray);
}
