@charset "UTF-8";

:root {
	--form-padding-x: 1rem;
}

[data-component-type='DROPDOWN'] {
	box-sizing: border-box;
	display: inline-block;
	position: relative;
}

[data-component-type='DROPDOWN'] > input[type='checkbox'] {
	display: none;
}

[data-component-type='DROPDOWN'] > label {
	cursor: pointer;
}

[data-component-type='DROPDOWN'][data-component-style='DEFAULT'] > label {
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 0.2em 0.5em 0.3em 0.5em;
	color: var(--codekandis-color-darker-gray);
	background-color: rgba(255, 255, 255, 1);
	border-style: solid;
	border-width: 1px;
	border-color: var(--codekandis-color-light-gray);
	border-radius: 3px;
}

[data-component-type='DROPDOWN'] > input[type='checkbox'] ~ ul {
	display: none;
	list-style: none;
}

[data-component-type='DROPDOWN'] > input[type='checkbox']:checked ~ ul {
	display: inline-block;
}

[data-component-type='DROPDOWN'][data-component-style='DEFAULT'] > input[type='checkbox']:checked ~ label {
	border-radius: 3px 3px 0 0;
}

[data-component-type='DROPDOWN'][data-component-style='DEFAULT'] > input[type='checkbox'] ~ label:after {
	position: absolute;
	padding: 0.25rem 0.6rem 0.25rem 0.62rem;
	right: 1px;
	top: 1px;
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	background-color: var(--codekandis-color-lighter-gray);
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: var(--codekandis-color-light-gray);
	border-radius: 0 2px 2px 0;
	content: '\f107';
}

[data-component-type='DROPDOWN'][data-component-style='DEFAULT'] > input[type='checkbox']:checked ~ label:after {
	padding-top: 0.2rem;
	padding-bottom: 0.3rem;
	border-radius: 0 2px 0 0;
	content: '\f106';
}

[data-component-type='DROPDOWN'][data-component-style='DEFAULT'] > input[type='checkbox'] ~ ul {
	position: absolute;
	padding: 0.3rem 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 0 0 3px 3px;
	list-style: none;
}

[data-component-type='DROPDOWN'][data-component-style='DEFAULT'] > input[type='checkbox'] ~ ul li a {
	display: block;
	padding: 0.2rem 0.5rem;
	color: var(--codekandis-color-darker-gray);
}

[data-component-type='DROPDOWN'][data-component-style='DEFAULT'] > input[type='checkbox'] ~ ul li a:hover {
	background-color: var(--codekandis-color-lighter-gray);
}

[data-component-type='FORM'][data-component-style='DEFAULT'] {
	font-size: calc(var(--base-font-size) + 2pt);
	border-style: solid;
	border-width: 0.1rem;
	border-color: var(--codekandis-color-light-gray);
	border-radius: 0.5rem;
	overflow: hidden;
}

[data-component-type='FORM'][data-component-style='DEFAULT'] > [data-component-subtype="HEADER"],
[data-component-type='FORM'][data-component-style='DEFAULT'] > [data-component-subtype="BODY"],
[data-component-type='FORM'][data-component-style='DEFAULT'] > [data-component-subtype="FOOTER"] {
	padding-left: var(--form-padding-x);
	padding-right: var(--form-padding-x);
}

[data-component-type='FORM'][data-component-style='DEFAULT'] > [data-component-subtype="HEADER"] {
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	background-color: var(--codekandis-color-lighter-gray);
	border-bottom-style: solid;
	border-bottom-width: 0.1rem;
	border-bottom-color: var(--codekandis-color-light-gray);
}

[data-component-type='FORM'][data-component-style='DEFAULT'] > [data-component-subtype="BODY"] {
	padding-top: 1.5rem;
	padding-bottom: 0.3rem;
}

[data-component-type='FORM'][data-component-style='DEFAULT'] > [data-component-subtype="BODY"] * {
	color: var(--codekandis-color-darker-gray);
	font-size: calc(var(--base-font-size) + 2pt);
}

[data-component-type='INPUT_TEXT'][data-component-style='DEFAULT'],
[data-component-type='INPUT_PASSWORD'][data-component-style='DEFAULT'],
[data-component-type='TEXTAREA'][data-component-style='DEFAULT'],
[data-component-type='INPUT_SUBMIT'][data-component-style='DEFAULT'] {
	margin-bottom: 1rem;
}

[data-component-type='INPUT_TEXT'][data-component-style='DEFAULT'] > input,
[data-component-type='INPUT_PASSWORD'][data-component-style='DEFAULT'] > input,
[data-component-type='TEXTAREA'][data-component-style='DEFAULT'] > input,
[data-component-type='INPUT_SUBMIT'][data-component-style='DEFAULT'] > input {
	border-radius: 0.3rem;
	overflow: hidden;
}

[data-component-type='INPUT_TEXT'][data-component-style='DEFAULT'] > input,
[data-component-type='INPUT_PASSWORD'][data-component-style='DEFAULT'] > input,
[data-component-type='TEXTAREA'][data-component-style='DEFAULT'] > input {
	box-sizing: border-box;
	display: block;
	padding: 0.3rem 0.4rem 0.4rem 0.4rem;
	width: 100%;
	border-style: solid;
	border-width: 0.1rem;
	border-color: var(--codekandis-color-light-gray);
}

[data-component-type='BUTTON'][data-component-style='DEFAULT'],
[data-component-type='INPUT_SUBMIT'][data-component-style='DEFAULT'] {
	text-align: right;
}

[data-component-type='BUTTON'][data-component-style='DEFAULT'] > input,
[data-component-type='INPUT_SUBMIT'][data-component-style='DEFAULT'] > input {
	padding: 0.3rem 1.2rem 0.4rem 1.3rem;
	color: rgba(255, 255, 255, 1) !important;
	background-color: var(--codekandis-color-gray);
	border-style: none;
}

[data-component-type='BUTTON'][data-component-style='DEFAULT'] > input:hover,
[data-component-type='INPUT_SUBMIT'][data-component-style='DEFAULT'] > input:hover {
	background-color: var(--codekandis-color-dark-gray);
}

[data-component-type='BUTTON'][data-component-style='DEFAULT'] > input.color-green,
[data-component-type='INPUT_SUBMIT'][data-component-style='DEFAULT'] > input.color-green {
	background-color: var(--codekandis-color-orange);
}

[data-component-type='BUTTON'][data-component-style='DEFAULT'] > input:hover,
[data-component-type='INPUT_SUBMIT'][data-component-style='DEFAULT'] > input:hover {
	background-color: var(--codekandis-color-dark-orange);
}
